<div style="display: flex; margin: .125rem .125rem .5rem .125rem; ">
    <input placeholder="Search" @oninput="OnInput">
</div>

@code {

    [Parameter] public EventCallback<string> onSearch { get; set; }

    async Task OnInput(ChangeEventArgs e)
    {
        await onSearch.InvokeAsync(e.Value?.ToString() ?? string.Empty);
    }

}
