<div style="display: flex; margin: .125rem .125rem .5rem .125rem; ">
    <input placeholder="Search"
           @bind:event="oninput"
           @bind:get="value"
           @bind:set="valueChanged.InvokeAsync">
</div>

@code {

    [Parameter] public string value { get; set; }
    [Parameter] public EventCallback<string> valueChanged { get; set; }

    string[] GetKeywords() => value.Trim('/').Split('|');

}
